body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:103px;
  width:449px;
  height:392px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:208px;
  width:273px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:282px;
  width:273px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:362px;
  width:100px;
  height:16px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:362px;
  width:100px;
  height:16px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:362px;
  width:100px;
  height:16px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:208px;
  width:101px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:282px;
  width:101px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:432px;
  width:140px;
  height:40px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:75px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:123px;
  width:77px;
  height:75px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
