body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:131px;
  width:656px;
  height:183px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:0px;
  width:131px;
  height:30px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:0px;
  width:131px;
  height:30px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:132px;
  height:30px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:0px;
  width:131px;
  height:30px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:131px;
  height:30px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:30px;
  width:131px;
  height:30px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:30px;
  width:131px;
  height:30px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:30px;
  width:132px;
  height:30px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:30px;
  width:131px;
  height:30px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:131px;
  height:30px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:60px;
  width:131px;
  height:30px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:60px;
  width:131px;
  height:30px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:60px;
  width:132px;
  height:30px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:60px;
  width:131px;
  height:30px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:131px;
  height:30px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:90px;
  width:131px;
  height:30px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:90px;
  width:131px;
  height:30px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:90px;
  width:132px;
  height:30px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:90px;
  width:131px;
  height:30px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:131px;
  height:33px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:120px;
  width:131px;
  height:33px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:120px;
  width:131px;
  height:33px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:120px;
  width:132px;
  height:33px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:120px;
  width:131px;
  height:33px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:131px;
  height:30px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:153px;
  width:131px;
  height:30px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:153px;
  width:131px;
  height:30px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:153px;
  width:132px;
  height:30px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:153px;
  width:131px;
  height:30px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:334px;
  width:96px;
  height:25px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:92px;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:59px;
  width:138px;
  height:22px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u42_input:disabled {
  color:grayText;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:59px;
  width:88px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:56px;
  width:142px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:56px;
  width:96px;
  height:25px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:92px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:327px;
  width:140px;
  height:40px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:327px;
  width:140px;
  height:40px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:335px;
  width:75px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:91px;
  width:140px;
  height:30px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
